.ui.borderless.topmenu.menu{
  background-color:white;
  box-shadow: none;
  border:none;
}
a.right.item{
  margin:0;
}

.ui.centered.imagetop.image{
  height:170px;
}
.ui.borderless.middlemenu.menu{
  box-shadow: none;
  border:none;
}

.footer-background {
  background-color: #292929;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;

}
