.ui.borderless.topmenu.menu{
  background-color:white;
  box-shadow: none;
  border:none;
  font-family: "Lato", sans-serif ;
}
.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
  background: #efefef;
  margin-bottom: 0;
  font-family: "Lato", sans-serif ;
}

.footer-background {
  background-color: white;
  color:black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif ;

}
